<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="742332493046650">
            <conditions>
                <condition id="0" name="On key pressed" sid="929326968443731" type="Keyboard">
                    <param id="0" name="Key">13 (Return)</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="323604254203916" type="System">
                    <param id="0" name="Layout">Seleção de Personagem</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
